<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <h2>{{welcome_message}}</h2>

    <br/>
    <br/>
    <br/>

    {% if not user.is_authenticated %}
        <a href="{% url 'signup' %}">Signup</a> or <a href="{% url 'signin' %}">Signin</a>
    {% else %}
        <p><i>Hello, {{user.username}}</i></p>
        {% if user.is_staff %}
            <h3>List of registered users:-</h3>
            {% for user in user_list %}
                <li><a href="{% url 'userdetail' user.username %}">{{user.username}}</a></li>
            {% endfor %}
        {% else %}
            <li><a href="{% url 'city_list' %}">List City Visited</a></li>
            <li><a href="{% url 'create_city' %}">Add City</a></li>

        {% endif %}
        <br/>
        <br/>
        <li><a href="{% url 'userdetail' user.username %}">My Profile</a></li>
        <br/>


    {% endif %}

    <br/>
    <br/>
    <br/>

    {% if user.is_authenticated %}
        <a href="{% url 'signout' %}">Signout</a>
    {% endif %}

    <br/>
    <br/>

</body>
</html>